// Specific CSS for your home-page
@font-face {
  font-family: 'Formula1-Bold';
  src: url('Formula1-Bold.ttf');
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 18% 0 42%;
  // margin: auto;
}

h1 {
  text-align: center;
  font-family: 'Formula1-Bold';
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
