// Specific CSS for your home-page
@font-face {
  font-family: 'Formula1-Bold';
  src: url('Formula1-Bold.ttf');
}

h1 {
  text-align: center;
  font-family: 'Formula1-Bold';
}

.container {
  border: 1px solid red;
  height: 75vh;

    p {
      text-align: end;
    }
}
