<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/2021BritishManualAdds/2022CarImages/2022CarImageSTUDIO/2022-F1-Car-Silverstone-Grid.jpg.transform/12col-retina/image.jpg);">
  <div class="container">
    <h1>It's lights out and away we go! 🏎 </h1>
    <div class="wrap">
      <div class="search">
          <input type="text" class="searchTerm" placeholder="e.g. Lewis Hamilton or Spa Francochamps">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<section class="content-section bg-light banner" style="background-image: url(https://www.total-motorsport.com/wp-content/uploads/2021/02/F1-2022-driver-line-up.jpeg);" id="drivers">
  <a class="js-scroll-trigger" href="#Drivers"></a>
  <% Driver.all.each do |driver| %>
    <h3><a href="<% driver.all.first_name %>"></a></h3>
  <%end%>
</section>
<section class="content-section bg-light banner" style="background-image: url(https://i.imgur.com/HFdpBTR.png);" id="teams">
  <a class="js-scroll-trigger" href="#Teams"></a>
</section>
<section class="content-section bg-light banner banner-fill" style="background-image: url(https://preview.redd.it/x0f0uoeehxv11.jpg?auto=webp&s=27fc2684f3f434b14d150bb03cb71f9d542a9137);" id="tracks">
  <a class="js-scroll-trigger" href="#Tracks"></a>
</section>
<section class="content-section bg-light banner" style="background-image: url(https://scuderia.alphatauri.com/wp-content/uploads/2021/10/2022-F1-Calendar.jpg);" id="seasons">
  <a class="js-scroll-trigger" href="#Seasons"></a>
</section>
<section class="content-section bg-light banner" id="more">
  <a class="js-scroll-trigger" href="#More"></a>
</section>


<%# scroll button %>

<script>
  function scrollTop(){
    let scrollTop = document.getElementById('scroll-top')
    // When the scroll is higher than 560 viewport height, add the show-scroll class to the a tag with the scroll-top class
    if(this.scrollY >= 200) scrollTop.classList.add('show-scroll'); else scrollTop.classList.remove('show-scroll')
  }
  window.addEventListener('scroll', scrollTop)
</script>

<a href="#" class="scrollup" id="scroll-top"><i class="fas fa-arrow-circle-up"></i></a>
